/* Importar Bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Estilos personalizados */
:root {
  --primary-color: #2c3e50;
  --secondary-color: #3498db;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

.hero-section {
  background-color: var(--primary-color);
}

.btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}