<div class="sidebar" [class.collapsed]="collapsed">
  <div class="sidebar-header">
    <i class="fas fa-calendar-alt sidebar-icon"></i>
    <span class="app-name" *ngIf="!collapsed">LogiEventos</span>
    <button class="collapse-btn" (click)="layoutService.toggleSidebar()">
      <i class="fas fa-chevron-left"></i>
    </button>
  </div>

  <div class="sidebar-menu">
    <ng-container *ngFor="let module of modules">
      <a class="menu-item" 
         [routerLink]="module.path"
         routerLinkActive="active"
         [class.active]="(layoutService.activeModule$ | async) === module.path"
         (click)="setActiveModule(module.path)">
        <i class="fas fa-{{module.icon}}"></i>
        <span *ngIf="!collapsed">{{module.name}}</span>
      </a>
    </ng-container>
  </div>

  <div class="sidebar-footer" *ngIf="!collapsed">
    <div class="system-status">
      <div class="status-indicator online"></div>
      <span>Sistema Operativo</span>
    </div>
  </div>
</div>